@use "./variables" as *;
@use "./styles.scss";
.upper-section {
  /* background-image: linear-gradient(
    69.8deg,
    rgba(25, 49, 108, 1) 2.8%,
    rgba(1, 179, 201, 1) 97.8%
  ); */
  background: url("../assets/images/baner.jpg");
  background-size: cover;
  height: 100vh;
}

.banner {
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-heading {
  width: 70%;
  font-family: "Oswald", sans-serif;
  color: #bbb;
  font-weight: bold;
  @media screen and (min-width: 1367px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1366px) {
    font-size: 2.6rem;
  }
}

.cart-img {
  width: 40%;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }
}

.search-container {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }
}

.facts-section {
  opacity: 0.8;
  @media screen and (min-width: 1024px) {
    width: 33%;
  }
}

.buy-now {
  background: $button-color;
  color: $white;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
}

.search-section {
  position: relative;
}

.search-button {
  background: $button-color;
  color: $white;
}

.search-input {
  outline: none;
}

.products-section {
  margin-bottom: 2.5rem;
}

.highlights {
  list-style: disc;
  li {
    margin: 2rem 1.5rem;
    color: #aaa;
    opacity: 0.8;
  }
}

.features {
  @media screen and (min-width: 1024px) {
    width: 33%;
  }
  em {
    color: $button-color;
  }
}

.numbers {
  color: $button-color;
}

.black-bg {
  background: $black;
  color: $white;
}
